@import "helper.css";

/* Basic form styling */
.form-control {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
}

/* Label styling */
label {
    display: block;
    font-weight: bold;
    color: var(--color-black);
}

/* Textarea */
.description-textarea {
    height: 120px;
    resize: vertical;
}

/* Datetime input */
.datetime-input {
    cursor: pointer;
}

/* Multiple select - visitors */
.select {
    height: auto;
    min-height: 40px;
}

.checkbox {
    width: 20px;
}

/* Focus state for inputs */
.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Hover state for inputs */
.form-control:hover {
    border-color: #a8a8a8;
}


.form-buttons-container {
    display: flex;
    align-items: center; /* This will vertically align buttons if they have different heights */
    gap: 20px; /* This will create a 20px gap between the buttons */
}

/* You might also want to target the buttons directly to give them a uniform style */
.form-buttons-container button,
.form-buttons-container input[type="submit"] {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/** LOGIN FORM **/

/* Block: login-form */
.login-form {
    width: 50%;
    margin: 10vh auto var(--space-m);
    padding: var(--space-m);
    background-color: var(--color-primary);
    border-radius: var(--space-s);
    align-items: center;
}

/* Element: input within login-form */
.login-form__input {
    display: block;
    width: 80%;
    padding: var(--space-s) var(--space-s);
    margin: 0 auto var(--space-m) auto;
    border: none;
    border-radius: var(--space-xs);
    font-size: var(--font-size);
}


/* Modifier: focus state of input */
.login-form__input:focus {
    outline: none;
}

/* Element: label within login-form */
.login-form__label {
    display: block;
    width: 80%;
    margin: 0 auto var(--space-s) auto;
    color: var(--color-tertiary);
}

.login-form__heading {
    color: var(--color-tertiary);
    text-align: center;
}

.form__checkbox {
    display: inline-block;
    margin-right: var(--space-s);
}

.form-button {
    padding: var(--space-s) var(--space-m);
    margin-right: var(--space-s);
    border: none;
    border-radius: var(--space-xs);
    font-size: var(--font-size);
    cursor: pointer;
}

/* Element: button within login-form */
.form-button__confirm {
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    margin-bottom: var(--space-s);
}

.form-button__login {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
}

.form-button__delete {
    background-color: var(--color-error);
    border: 1px solid var(--color-error);
    color: var(--color-tertiary);
}

.form-button__success {
    background-color: var(--color-success);
    border: 1px solid var(--color-success);
    color: var(--color-tertiary);
}

.form-button__success:hover {
    background-color: var(--color-light-success);
}

.form-button__confirm:hover {
    background-color: var(--color-primary);
}

.form-button__delete:hover {
    background-color: var(--color-light-error);
}

/* Element: button wrapper within login-form */
.form__button-wrapper {
    text-align: center;
}

/* Element: paragraph within button wrapper */
.form__button-wrapper p {
    margin: var(--space-s) 0;
    color: var(--color-tertiary);
}

.form__button-wrapper a:hover {
    color: var(--color-secondary);
}

.form__error-message {
    color: var(--color-error);
    font-weight: bold;
}
