@import "helper.css";

h2 {
    margin: var(--space-m) 0;
    color: var(--color-secondary);
}

.user__profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--space-xl);
}

.info-item {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: var(--space-l);
    background-color: var(--color-tertiary);
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    border: 1px solid #ddd;
}

span {
    margin-bottom: var(--space-xs);
    font-size: 18px;
    font-weight: bold;
}

.info-item > span:first-of-type,
.tag-item > span:first-of-type {
    font-size: var(--font-size-l);
    font-weight: bold;
}

.reservations {
    margin-left: var(--space-xl);
    padding-left : var(--space-xl);
    border-left: 1px solid var(--color-primary);
}


@media screen and (max-width: 1200px) {
    .user__profile {
        grid-template-columns: 1fr;
    }

    .info-item {
        grid-template-columns: 1fr 1fr;
    }

    .reservations {
        margin-left: 0;
        border-left: none;
        padding-left: 0;
        border-top: 1px solid var(--color-primary);
    }
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-weight: 700;
    font-size: var(--font-size-xs);
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    border-radius: 0.25rem;
    background-color: var(--color-primary);
    color: white;
    margin: 0.125rem;
}

.badge-ROLE_USER {
    background-color: var(--color-success);
}

.badge-ROLE_SUPER_ADMIN {
    background-color: var(--color-error);
}

.user-rooms .tag-item {
    margin-bottom: var(--space-m);
}

.user-rooms .info-item {
    margin-bottom: var(--space-m);
}

.user-rooms .info-item span {
    display: block;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

.user-rooms ul {
    list-style: none;
    padding: 0;
    margin: var(--space-xs) 0 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
}

.user-rooms li {
    padding: 5px 10px;
    background-color: var(--color-tertiary);
    border: 1px solid #ddd;
    border-radius: 5px;
    display: inline-flex;
    margin-right: var(--space-xs);
    margin-bottom: 0;/
}

.user-rooms li a {
    text-decoration: none;
    color: var(--color-secondary);
    display: block;
}

.user-rooms li a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}
